<div class="container">
    <div class="top-bar">
        <!-- Logo -->
        <a class="logo" href="./">
            <!-- Logo ten mien rieng thi de / ,github thi ./ -->
            <img
                src="./assets/icons/logo.svg"
                alt="grocerymart"
                class="logo__image"
            />
            <h1 class="logo__title">grocerymart</h1>
        </a>
        <nav class="navbar">
            <ul class="navbar__list">
                <li class="navbar__link">
                    <a href=""> Departments </a>
                    <img
                        src="./assets/icons/arraw-down.svg"
                        alt="arrow-down"
                        class="navbar__arrow icon"
                    />
                </li>
                <li class="navbar__link">
                    <a href=""> Grocery </a>
                    <img
                        src="./assets/icons/arraw-down.svg"
                        alt="arrow-down"
                        class="navbar__arrow icon"
                    />
                </li>
                <li class="navbar__link">
                    <a href=""> Beauty </a>
                    <img
                        src="./assets/icons/arraw-down.svg"
                        alt="arrow-down"
                        class="navbar__arrow icon"
                    />
                </li>
            </ul>
        </nav>
        <!-- Actitions -->
        <div class="top-act">
            <div class="top-act__group">
                <button class="top-act__btn">
                    <img
                        src="./assets/icons/search.svg"
                        alt=""
                        class="top-act__icon icon"
                    />
                </button>
            </div>
            <div class="top-act__group">
                <button class="top-act__btn">
                    <img
                        src="./assets/icons/heart.svg"
                        alt=""
                        class="top-act__icon icon"
                    />
                    <span class="top-act__title">03</span>
                </button>
                <div class="top-act__separate"></div>
                <button class="top-act__btn">
                    <img
                        src="./assets/icons/buy.svg"
                        alt=""
                        class="top-act__icon icon"
                    />
                    <span class="top-act__title">$65.42</span>
                </button>
            </div>
            <div class="act-top__user">
                <img
                    src="./assets/image/Avatar.png"
                    alt="user__avatar"
                    class="top-act__avatar"
                />
            </div>
        </div>
    </div>
</div>
